div.Nhap{
    display: inline;
}
table.table1{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
th, td{
    border-width: 1px;
    border-color: black;
    border-style: solid;
     padding-left: 1cm;
    padding-right: 1cm;
}